h1,.h1 {
    color: #b45f06;
    text-transform: uppercase;
}
h2 {
    color: #b45f06;
    text-transform: uppercase;
}

h3 {
    color: #b45f06;
    text-transform: uppercase;
}

h4 {
    color: #f6b26b;
    text-transform: uppercase;
}

h6 {
    font-style: italic;
}

.emphasized {
    font-style: italic;
}

header .nav-item {
    text-transform: uppercase;
    font-family: interface, sans-serif;
    font-style: normal;
    font-weight: 100;
}

header .navbar-brand {
    text-transform: uppercase;    
    font-family: alternate-gothic-no-1-d, sans-serif;
    font-style: normal;
    font-weight: 400;
}

header .brand-logo {
    max-height: 6rem;
}

html,body {
    overflow: hidden;
}

#navbar-example3 {
    overflow-y: auto;
    height: calc(100vh - 120px);
    text-transform: uppercase;
}

#scrollable-content {
    height: calc(100vh - 120px);
    overflow-y: scroll;
}